{% extends 'base.html' %}
{%load crispy_forms_tags%}

{% block content %}


<div class="container mt-5 mb-5">
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
    
        <fieldset>
            {{user_update_form|crispy}}
            {{profile_update_form|crispy}}
        </fieldset>
    
        <div class="from-group">
            <button class="btn btn-outline-info" type="submit"> Update</button>
            <a href="{%url 'Home'%}" class="btn btn-outline-success"> Home</a>
        </div>

    </form>
    {{webhooks_data}}
</div>



{% endblock %}